DATABASE_USER=user
DATABASE_NAME=e-commerce
DATABASE_PORT=3307
DATABASE_HOST=db
BACKEND_PORT=8000
DATABASE_PASSWORD=password
FLYWAY_TARGET=latest
ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET=changeThisTo256BytesLong
DD_API_KEY=changeThisToYourDatadogKey
DD_APP_KEY=changeThisToYourDatadogApplicationKey
AWS_ACCESS_KEY=changeThisToYourAWSAccessKey
AWS_SECRET_KEY=changeThisToYourAWSSecretKey
AWS_REGION=us-east-2
S3_IMAGE_BUCKET_NAME=changeThisToYourS3ImageBucketName